<footer class="footer d-none d-xl-block">

    <!-- Copyright -->
    <div class="text-center">
        Teléfono: (591 - 2) 2612298. E-mail: dtic@umsa.bo Av. Villazón N° 1995, Plaza del Bicentenario - Zona Central. Copyright © 2020 Universidad Mayor de San Andrés
    </div>


    <!-- Copyright -->

</footer>